*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: content-box;
  }
  .body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    
  }
  .quotes-container{
    padding: 2rem;
    box-shadow: 10px 10px 37px -7px rgba(0,0,0,0.24);
    max-width: 300px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    background-color: white;
  }
  .quotes-container:hover{
    transform: scale(1.1);
  }